.text{
    display:flex;
    margin-top:260px;
    margin-left:110px;
    justify-content: center;
    align-items: center;
    width:80%;
    height:50px;
    background-color: aquamarine;
    color:black;
    border-radius: 20px;
}
.log{
    display:flex;
    margin-top:20px;
    margin-left:20px;
    justify-content: center;
    align-items: center;
    width:10%;
    height:30px;
    background-color: rgb(15, 15, 15);
    color:rgb(248, 245, 245);
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
}
.log:hover{
    transform: scale(1.25);
    background-color: green;
}
.form{
    display:flex;
    margin-top:170px;
    width:25%;
    height:200px;
    background-color: rgb(231, 221, 208);
    color:black;
    border-radius: 20px;
}

.tit{
    margin-left:50px;
    color:rgb(14, 14, 13)
}
.button button{
    margin-top:10px;
    background-color: green;
    color: white;
    font-weight: bolder;
    margin-left:90px;
    width:60px;
    border-radius: 10px;
}
.in input{
     margin-left:70px;
     border-radius: 10px;
     text-align: center;
}
.in2{
  margin-top:10px;
}


